<h1></h1>
<p>
<div class="jumbotron text-center">
  <h1>Welcome to Mayo Clinic</h1>
  <p>Mayo Clinic has a responsibiity to lead the transformation of health care !</p>
  <p><a href="https://github.com/wanyingxue94/Mayo-Clinic2">Wanying_Xue Github link</a></p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
	  <%= image_tag("c1.jpg", :size => "304x236") %>
      <h3>A Bold Vision For The Future</h3>
      <p>Mayo will lead the way becuse we operate from a position of strength and integrity</p>
      <p>Transformation is about carrying the best of Mayo Clinic forward in a new world order.</p>
    </div>
	
	
    <div class="col-sm-4">
	  <%= image_tag("c2.jpg", :size => "304x236") %>
      <h3>Center For Individualized Medicine</h3>
      <p>We find answers to diseases based on new ways to use your genome to give you the best treatment available for you.</p>
      
    </div>
	
	
    <div class="col-sm-4">
	  <%= image_tag("c3.jpg", :size => "304x236") %>
      <h3>Center For Regenerative Medicine</h3>
      <p>Researchers harness our collective knowledge, resources and skills to teach your body to heal from within and provide definitive solutions.</p>
      
    </div>
  </div>
</div>


<div class="jumbotron text-center">
	<div class="container">
		<div class="col-sm-6 col-md-6 col-xs-6">
                <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{53.85453}%2C#{-9.2886583}" %>
        </div>
			 <div class="col-sm-6 col-md-6">  

				 <h3>Our Location</h3>
				 </br></br>
				 </h4>Lawn Rd, Gorteendrunagh, Castlebar, Co. Mayo</h4>
				 </br>
				 <h4>Tel: 480-301-8000</h4>
				 </br>
				 <h4>Opening Hours:</h4>
				 </br>
				 <h6>Monday to Friday: 6 p.m – 10 p.m</h6>
				 </br>
				 <h6>Weekends/ Bank holidays: 10 a.m – 6 p.m</h6>
			 </div>
	</div>
 </div>
</p>




